# Since Ansible 2.12 (core):
# To generate an example config file (a "disabled" one with all default settings, commented out):
#               $ ansible-config init --disabled > ansible.cfg
#
# Also you can now have a more complete file by including existing plugins:
# ansible-config init --disabled -t all > ansible.cfg

# For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# Note that this file was always incomplete  and lagging changes to configuration settings

# for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg

[defaults]
inventory = ./inventory.yaml

################
# Log / trace
################
;callbacks_enabled = timer, profile_tasks, profile_roles

################
# GATHERING
################
gathering = smart
;fact_caching_timeout = 7200 ; default 86400 = 24 hours
;fact_caching = jsonfile
;fact_caching_connection = /var/tmp/facts_cache_alain
fact_caching = redis
fact_caching_connection = 127.0.0.1:6379:0

[privilege_escalation]
;become = yes
;become_method = sudo    # default=sudo
;become_user = root      # default=root
;become_ask_pass = True

[inventory]
cache = True
cache_plugin = jsonfile
